@import "./index.css";
@import "./index.media.css";
@import "./popups.media.css";

/* REFACTOR */
header {
  /* POSITION */
  position: inherit;
  /* MISC */
  backdrop-filter: none;
  box-shadow: 0 0.05em 10px var(--bla);
}

.menu-nav a:hover,
.menu-nav a:focus {
  /* SIZE */
  height: 5em;
  /* POSITION */
  margin-bottom: 0.2em;
}
.menu-nav a:hover::before,
.menu-nav a:focus::before {
  /* SIZE */
  width: 0.5em;
  height: 0.15em;
}

.quit-icon {
  /* ICON SIZE */
  font-size: 2em;
}
.quit-icon p {
  /* ICON SIZE */
  font-size: 0.5em !important;
}
.quit-icon:hover {
  /* ICON COLOR */
  color: var(--red-alt);
}
.quit-icon:hover::before,
.quit-icon:hover::after,
.quit-icon::after {
  /* SIZE */
  width: 0 !important;
  height: 0 !important;
}

/* DASH CONTENT */
body {
  /* SIZE */
  width: 100vw;
  height: 100vh;
  /* DISPLAY */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section {
  /* SIZE */
  width: 100vw;
  height: 90vh;
  /* DISPLAY */
  display: flex;
  justify-content: center;
  align-items: center;
}
section section {
  /* SIZE */
  width: 90%;
  height: 90%;
  /* DISPLAY */
  display: grid;
  grid-template-rows: 14% 86%;
  /* BORDER */
  border: 0.15em solid var(--bla);
  border-radius: 0.5em;
  /* MISC */
  transition: opacity 0.2s;
}
.sec-main {
  scroll-snap-align: none !important;
}

/* SECTIONS HEADER */
.header {
  /* SIZE */
  width: 100%;
  min-height: 40px;
  height: 100%;
  /* POSITION */
  padding: 0 1em;
  /* DISPLAY */
  display: grid;
  align-items: center;
  grid-template-columns: max-content auto;
  /* TEXT */
  color: var(--font1);
  /* BORDER */
  border-bottom: 0.15em solid var(--bla);
}
.header > * {
  /* POSITION */
  margin: 0;
}
.header div {
  /* SIZE */
  width: auto;
  /* DISPLAY */
  display: flex;
  justify-content: flex-end;
}

.btn-add {
  /* SIZE */
  width: fit-content;
  /* POSITION */
  padding: 0 5%;
  margin: 0;
  /* BACKGROUND */
  background-color: var(--success-trans);
  /* TEXT */
  font-weight: 600;
  color: var(--font1);
  /* BORDER */
  border-color: var(--success);
}
.btn-add p {
  /* DISPLAY */
  display: none;
}
.btn-add ion-icon {
  /* ICON SIZE */
  font-size: 1.8em;
  --ionicon-stroke-width: 5em;
}
.btn-add:hover {
  /* BACKGROUND */
  background-color: var(--success);
}
.btn-add:disabled {
  /* TEXT */
  text-decoration: line-through;
  /* MISC */
  filter: grayscale(1);
}

/* CONTENT */
.sec .content {
  /* SIZE */
  width: 90vw;
  height: 100%;
  /* POSITION */
  padding: 1em;
  /* DISPLAY */
  display: grid;
  grid-template-columns: auto;
  grid-auto-rows: min-content;
  gap: 0.2em;
  /* BORDER */
  border-radius: 0.5em;
  /* SCROLL */
  overflow-y: auto;
  overflow-x: hidden;
}

.sec .content::-webkit-scrollbar {
  /* SIZE */
  width: 4px;
  height: 4px;
  /* SCROLL */
  scroll-behavior: smooth;
}
.sec .content::-webkit-scrollbar-track {
  /* BACKGROUND */
  background: var(--white);
}
.sec .content::-webkit-scrollbar-thumb {
  /* BACKGROUND */
  background: var(--gray);
}
.sec .content::-webkit-scrollbar-thumb:hover {
  /* BACKGROUND */
  background: var(--red-alt);
}

.card-info {
  /* SIZE */
  width: 100%;
  /* DISPLAY */
  grid-template-columns: 28% auto 44%;
  grid-template-areas:
    "image sub buttonsTop"
    "image title title"
    "image content buttonsBottom";
  /* MISC */
  clip-path: none;
}

.card-buttons {
  /* SIZE */
  width: 70%;
  /* DISPLAY */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-buttons-top {
  grid-area: buttonsTop;
}
.card-buttons-bottom {
  /* DISPLAY */
  grid-area: buttonsBottom;
  display: grid;
  grid-template-columns: 50% 50%;
}

.copy-token {
  /* SIZE */
  width: 100%;
  height: 80%;
  /* SPACING */
  padding-right: 0;
  /* DISPLAY */
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.copy-token > div {
  /* SIZE */
  width: 70%;
  max-width: 200px;
  height: 80%;
  /* SPACING */
  margin: 0;
  /* DISPLAY */
  display: flex;
  justify-content: flex-end;
  gap: 0.5em;
}
.copy-token > div div {
  /* SIZE */
  width: 100%;
  height: 100%;
  /* DISPLAY */
  display: none;
  justify-content: center;
  align-items: center;
  /* BORDER */
  border: 0.15em solid;
  border-radius: 0.2em;
  /* COLOR */
  background-color: var(--gray-light2);
  border-color: var(--gray-light);
  /* MISC */
  transition: border-color 0.3s;
}
.copy-token p {
  /* SIZE */
  width: 100%;
  height: fit-content;
  /* SPACING */
  margin: 0;
  padding: 0;
  align-self: auto;
  /* TEXT */
  text-align: center;
  font-size: 1.2em !important;
  /* COLOR */
  color: var(--black);
  /* SCROLL */
  overflow: hidden;
  /* MISC */
  filter: blur(0);
  user-select: all;
  transition: filter 0.3s;
}
.token-blur {
  filter: blur(0.18em) !important;
  user-select: none !important;
}
.copy-token ion-icon {
  /* SIZE */
  font-size: 2.5em !important;
  height: 0.6em;
  /* MISC */
  transition: color 0.4s;
}
.red-key {
  color: var(--red-alt) !important;
}
.copy-token ion-icon:hover {
  /* SPACING */
  margin: 0;
  /* COLOR */
  color: var(--red-alt);
  /* MISC */
  cursor: pointer;
}

.btn-special {
  /* DISPLAY */
  width: fit-content;
  /* BORDER */
  border: 0;
}
.btn-special:hover > * {
  /* TEXT */
  color: var(--red-alt);
}
.btn-special ion-icon {
  /* ICON SIZE */
  font-size: 2.5em;
  /* MISC */
  transition: color 0.3s;
}
.btn-special p {
  /* SIZE */
  height: fit-content;
  /* POSITION */
  margin: 0;
  padding: 0;
  /* DISPLAY */
  display: none;
  /* TEXT */
  font-weight: 600;
  line-height: 4.6em;
  /* SCROLL */
  overflow: hidden;
}

.btn-special:disabled > * {
  /* TEXT */
  color: var(--table-hover);
}
.user-btn {
  /* POSITION */
  margin: 0;
  margin-right: 1em;
}

.card-info h3 {
  /* TEXT */
  color: var(--red-alt);
}
.card-info p {
  /* TEXT */
  font-size: 0.8em;
}
.card-info ion-icon {
  /* DISPLAY */
  grid-area: image;
  /* TEXT */
  font-size: 8vw;
  color: var(--font1);
}

.card-info:hover {
  /* BORDER */
  border-width: 0.2em;
}

#acessos_content {
  /* DISPLAY */
  grid-template-columns: auto;
}
.acessos-info {
  /* SIZE */
  width: 100%;
  height: 100%;
  /* POSITION */
  padding: 1em;
  /* DISPLAY */
  grid-template-columns: auto;
  grid-template-areas:
    "image"
    "sub "
    "title"
    "content"
    "buttons";
}
.acessos-info ion-icon {
  /* ICON SIZE */
  font-size: 2em;
}
.acessos-info p {
  /* SIZE */
  height: fit-content;
  /* DISPLAY */
  display: none;
}
.acessos-info h3,
.acessos-info h2,
.acessos-info p {
  /* TEXT */
  text-align: center;
}

/* TABLE */
.table-content {
  /* POSITION */
  padding: 0 !important;
  /* BORDER */
  border-radius: 0 !important;
  /* SCROLL */
  overflow: auto !important;
}

.main-table {
  /* SIZE */
  width: 99.8%;
}

/* SECTIONS */
/* #dispositivos, */
#colecoes,
#acessos,
#usuarios,
#aside_forms {
  /* DISPLAY */
  display: none;
  /* MISC */
  opacity: 0;
}

/* FORMS */
#form_inputs {
  /* SIZE */
  max-height: 70vh;
  /* SCROLL */
  overflow-y: auto;
}
