@import "./variables.css";

@media (min-width: 426px) {
  .card-buttons button ion-icon {
    font-size: 3em;
  }

  .user-btn {
    margin-right: 2em;
  }
}

@media (min-width: 769px) {
  #dispositivos .content {
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  }

  #acessos_content {
    grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
  }

  .btn-add p {
    display: block;
  }
  .btn-add ion-icon {
    font-size: 1.2em;
    --ionicon-stroke-width: 3em;
  }

  .card-buttons {
    width: 100%;
  }
  .btn-special ion-icon {
    font-size: 2em;
  }
  .btn-special p {
    display: flex;
  }

  .acessos-info p {
    display: block;
  }
}

@media (min-width: 1441px) {
  #dispositivos .content {
    grid-template-columns: repeat(auto-fit, minmax(565px, 1fr));
  }
}
