@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700;900&display=swap");

@import "./variables.css";
@import "./global.addons.css";

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  transition: all 0.1s;
  caret-color: #e4032b;
  outline: none;
}

body {
  user-select: none;
  background-color: var(--back1);
  transition: background-color 0.5s;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

p,
a {
  font-size: 1em;
}

*::selection {
  background-color: #e4032b;
  color: #fff;
}

.container {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}

.invisible {
  opacity: 0;
  pointer-events: none;
}

.popup-aside {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: var(--trans2);
  transition: opacity 0.5s;
}

/* HEADER */
header {
  width: 100%;
  height: 8rem;
  position: fixed;
  z-index: 5;
  backdrop-filter: blur(5px);
}

/* LOGO */
.wrapper-logo {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.wrapper-logo div {
  width: 20%;
  height: 80%;
  background: url("../assets/imgs/fingerBlack.svg") no-repeat center;
  background-size: contain;
}

.to-Invert {
  filter: invert(1);
}

/* NAVBAR */
nav {
  width: 65%;
  display: none;
}

.menu-nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
}

.menu-nav a {
  padding: 0 2%;
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--bla);
  cursor: pointer;
}

.menu-nav a:hover,
.menu-nav a:focus {
  height: 6em;
  margin-bottom: 0.6em;
}
.menu-nav a::before {
  content: "";
  width: 0.15em;
  height: 0;
  margin: 0.2em;
  background-color: var(--red-dark);
  transition: height 0.3s ease-out;
}
.menu-nav a:hover::before,
.menu-nav a:focus::before {
  height: 1em;
}

/* BUTTONS */
.wrapper-buttons {
  width: 120%;
  display: flex;
  align-items: center;
}

button {
  background: transparent;
  max-width: 300px;
  width: 14rem;
  height: 3.5rem;
  font-size: 1rem;
  color: var(--font1);
  border: 0.1rem solid var(--bla);
  border-radius: 0.1em;
  cursor: pointer;
  outline: none;
  transition: all 0.4s, font-size 1s;
}
header button:hover,
header button:focus {
  font-size: 1.1rem;
  color: var(--white);
  background-color: var(--red-alt);
  border-color: var(--red-alt);
}

/* HAMBURGUER MENU */
#menu_icon,
#menu_icon:default {
  color: var(--bla);
  font-size: 3.5em;
  padding: 0.2em 0.2em;
  display: flex;
  cursor: pointer;
  border-radius: 100%;
  transition: background-color 0.3s ease-out;
}
#menu_icon:hover,
#menu_icon:focus,
#menu_icon:active {
  background-color: var(--trans3);
}

/* MANOS BORDER */
.border-manos {
  position: absolute;
  border: 0.15em solid var(--red-alt);
  clip-path: polygon(0 0, 0 100%, 85% 100%, 100% 88%, 100% 0);
  transition: border 0.6s;
}

/* THEME */
#theme_changer {
  opacity: 0;
  width: 8vw;
  height: 17vh;
  bottom: -8vh;
  left: -4vw;
  position: fixed;
  z-index: 15;
  cursor: pointer;
}
#theme_changer + label {
  background-image: url("../assets/imgs/day_night.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 8vw;
  height: 17vh;
  bottom: -8vh;
  left: -4vw;
  position: fixed;
  z-index: 15;
  cursor: pointer;
  rotate: 0;
  transition: rotate 0.8s, bottom 0.4s, left 0.4s, filter 1s;
}
#theme_changer:checked + label {
  rotate: -180deg;
}
#theme_changer + label:hover {
  bottom: -7.5vh;
  left: -3.75vw;
}
