.form-card {
  font-size: 2rem;
  width: 100vw;
  height: 100vh;
  padding: 2em 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  background-color: var(--B);
  z-index: 15;
  border-radius: 0em;
  transition: all .2s;
  overflow: auto;
}

.form-card h1 {
  color: #fff;
}
.form-card form {
  width: 80%;
  padding: 1em 0;
  gap: 2em;
  display: flex;
  flex-direction: column;
}
.form-card button {
  /* max-width: 40%;
  height: 2.5rem; */
  max-width: 80%;
  width: 40rem;
  height: 6rem;
  font-size: 2rem;
  color: #fff;
  background-color: var(--Rdark);
  border-color: var(--Rdark);
  border-radius: 0.2rem;
}
.form-card button:hover {
  max-width: 100%;
  background-color: var(--R);
  border-color: var(--R);
  box-shadow: 0 0 .5em var(--Rlight);
}
.form-card h3 {
  font-size: 1.6rem;
  color: #fff;
  text-align: center;
  font-weight: 400;
}
h3 span {
  color: var(--R);
  font-weight: 1000;
  cursor: pointer;
  transition: letter-spacing .4s, color 0.4s, text-shadow 0.6s;
}
h3 span:hover {
  letter-spacing: .05em;
  color: var(--Rlight);
  text-shadow: 0 0 .1em var(--Rlight);
}

.form__input {
  width: 100%;
  height: 3em;
  display: flex;
  flex-direction: column;
}
.form__input label {
  font-size: .8em;
  color: #fff;
}
.form__input input {
  width: 100%;
  height: 80%;
  padding: 1em 1em;
  font-size: .8em;
  color: var(--B);
  border-radius: 0.4em;
  border: none;
  box-shadow: 0.2em 0.2em 0.2em var(--Rdark);
  outline: none;
  transition: box-shadow 0.5s;
}
.form__input input:focus {
  box-shadow: 0.3em 0.3em 0.2em var(--R);
}

.close-form {
  font-size: 2em;
  position: absolute;
  top: 0.3em;
  right: 0.3em;
  color: #fff;
}
.close-form:hover {
  font-size: 2.6em;
  top: 0.1em;
  right: 0.1em;
  color: var(--R);
}
