html {
  --bla: #1e1e1e;
  --bla-trans1: #1e1e1eaa;
  --bla-trans2: #1e1e1e15;
  --red: #e4032b;
  --red-dark: #8e000c;
  --red-light: #ff3256;
  --back1: #e6e6e6;
  --font1: #000;

  --border1: 0.25em solid var(--R);
}
